---
import "../styles/global.css"

export interface RootLayoutProps {
    title?: string;
};

interface SiteMetaData {
    title: string;
    description: string;
    authors: string[];
    citations: string[];
    icon_path: string;
};

const { title } = Astro.props as RootLayoutProps;

const meta_data: SiteMetaData = {
    title: title ? `Classroom Website - ${title}` : "Classroom Website",
    description: (
        "Welcome to Mrs. Malorie's personal website! A hub for educational " +
        "resources and information regarding our classroom."
    ),
    authors: [
        "Mrs. Malorie",
        "Novice Engineer",
    ],
    citations: [
        "Cross and Check icons created by Roundicons - Flaticon",
        "Hotair Balloons and Cloud images taken from Canva",
    ],
    icon_path: "favicon.ico",
};
---


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{meta_data.title}</title>

        <meta name="description" content={meta_data.description}>

        {meta_data.authors.map(
            (author: string) => (
                <meta name="author" content={author}>
            )
        )}

        {meta_data.citations.map(
            (citation: string) => (
                <meta name="citation" content={citation}>
            )
        )}

        <link rel="icon" href={meta_data.icon_path} type="image/x-icon">
    </head>
    <body>
        <slot/>
    </body>
</html>

<style>
    body {
        margin: 0;
        padding: 0;

        font-family: "Bitter", serif;
        letter-spacing: 0.15em;

        background-color: white;
        color: black;
    }
</style>